$pageCol: #E5465D;
$txtCol: #FFFFFF;
$fontSize: 18px;

.navigation {
  background-color: $pageCol;
  color: $txtCol;
  display: flex;
  padding: 20px;
  font-size: $fontSize*1.5;
  font-weight: 100;
  text-align: center;
  &__item {
    flex-grow: 1;
  }
  &__name {
    text-align: center;
    flex-grow: 9;
  }
}
#back {
  cursor: pointer;
}