<ng-container *ngIf="event$ | async as event">
  <app-top-navigation 
    [event$]='event$'
    [currentUser$]='currentUser$'
    [eventDate]='event.date' 
    [keyOfEvent]='keyOfEvent'>
  </app-top-navigation>
</ng-container>
<app-header [event$]='event$'></app-header>
<div class="sub-pages">
  <div class="sub-page_current" >Information</div>
  <div class="sub-page" [routerLink]="['./../../description',keyOfEvent]">Description</div>
  <div class="sub-page" [routerLink]="['./../../discussion',keyOfEvent]">Discussion</div>
</div>
<div class="members">
  <div class="members-first-line">
  <div class="members-first-line__header">Event members</div>
  <div class="members-first-line__see-all"><a href="#">See all</a></div>
  </div>
  <div class="members-second-line">
  <ng-container *ngIf="event$ | async as event"> 
    <div class="members-second-line__minimal-number">
      <app-round-progress-bar
      [ngStyle]= "partSircle"
      [content]='amountOfMembers'></app-round-progress-bar>
    </div>
    <div class="members-second-line__minimal-number__photos">
      <div class="members-second-line__minimal-number__photos__photo" *ngFor='let item of firstFourMembers'>
          <img
            [src]="item.avatar" 
            [alt]="item.email"
            [routerLink]="['/user-profile',item.email]">
      </div>
    </div>
  </ng-container> 
  </div>
</div>
<app-join 
  [event$]='event$' 
  [currentUser$]='currentUser$' 
  [keyOfEvent]='keyOfEvent'>
</app-join>
<app-delete-button
  [event$]='event$' 
  [currentUser$]='currentUser$'
  [keyOfEvent]='keyOfEvent'>
</app-delete-button>
<app-contacts [event$]='event$'></app-contacts>
<app-location [event$]='event$'></app-location>

<ng-container *ngIf="event$ | async as event"> 
  <ng-container *ngIf="event.assignedPhotos">
    <app-gallery [arrayOfPhotos]='event.assignedPhotos'></app-gallery>  
  </ng-container> 
</ng-container>
<app-add-photo 
  [event$]='event$' 
  [keyOfEvent]='keyOfEvent'
  [currentUser$]='currentUser$'>
</app-add-photo>
