<app-header [event$]='event$'></app-header>
<div class="sub-pages">
  <div class="sub-page" [routerLink]="['./../information']">Information</div>
  <div class="sub-page" [routerLink]="['./../description']">Description</div>
  <div class="sub-page_current">Feedback</div>
</div>
<app-add-comment-form></app-add-comment-form>
<app-post></app-post>
<app-post></app-post>
<app-post></app-post>
<p>dvdsfv</p>
<p>dvdsfv</p>
<p>dvdsfv</p><p>dvdsfv</p>
<p>dvdsfv</p>
<p>dvdsfv</p>
<p>dvdsfv</p>
<p>dvdsfv</p><p>dvdsfv</p>
<p>dvdsfv</p>