<app-top-navigation [event$]='event$' [keyOfEvent]='keyOfEvent'></app-top-navigation>
<app-header [event$]='event$'></app-header>
<div class="sub-pages">
  <div class="sub-page" [routerLink]="['/event/information',keyOfEvent]">Information</div>
  <div class="sub-page" [routerLink]="['/event/description',keyOfEvent]">Description</div>
  <div class="sub-page_current">Discussion</div>
</div>
<h3 class="header">Leave a comment</h3>
<app-add-comment 
    [user$]='currentUser$' 
    [email]='currentUserEmail'
    [keyOfEvent] = 'keyOfEvent'>
</app-add-comment>
<ng-container *ngFor='let item of arrayOfFilteredPosts'>
  <app-post [post]='item'></app-post>
</ng-container>
