$pageCol: #E5465D;
$fontSize: 18px;

.location {
  margin-top: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  &__map {
    iframe {
      width:100%;
    }
  }
  &__name {
    padding-left: 10px;
    font-size: $fontSize*1.4;
    font-weight: 700;
  }
  &__address {
    padding-left: 10px;
    color: $pageCol;
    font-size: 1.2*$fontSize;   
  }
}