$pageCol: #E5465D;
$txtCol: #FFFFFF;
$fontSize: 18px;

.header {
  position: relative;
  width:100%;
  padding-bottom: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  &__star {
    position: absolute;
    top:10%;
    left: 5%;
    font-size: $fontSize*1.5;
    color: $pageCol;
  }
  &__text-container{
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: $txtCol;
    &__name {
      margin: 0px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding-bottom: 45%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-bottom: 55%;
  }  
}

@media screen and (max-width: 560px){
  .header {
    padding-bottom: 65%;
  }   
}