<div class="wrapper">
    <header>
        <button>Skip</button>
    </header>
    <main>
        <img src="../../assets/img/user.png" alt="user" class="user">
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <input type="text" formControlName="email" placeholder="Email" required>
            <input type="text" formControlName="password" placeholder="Password" required>
            <button type="submit" [disabled]="!loginForm.valid">Sign in</button>
        </form>
        <a href="">Forgot password?</a>
        <div class="divider">
            <div class="line"></div>
            <span>or</span>
            <div class="line"></div>
        </div>
        <p><i class="fab fa-google"></i> Sign in with Google</p>
    </main>
    <footer>
        <p>No account?</p>
        <a href="">Sign up</a>
    </footer>
</div>