$blue: #007aff;
$lightblue: #5AC8FA;
$yellow: #FFCC00;
$orange: #FF9500;
$pink: #ff2d55;
$lightgreen: #4CD964;
$red: #ff3B30;
// Basic Grey Shades;
$black: #222222; // Headlines, body, subheads
$blackgrey: #666666; // Secondary text, links
$grey: #8A8A8F; // Footnote and captions
$lightgrey: #C8C7CC; // Content and sections dividers, lines
$lightwhite: #EFEFF4; // Screes background
$white: #F9F9F9; // Top bar, tool bars backgrounds
