$mainThemeColor: darken(pink, 30%);

@media (min-width: 576px) {
	.icon-link {
		padding: 10px;

		.icon {
			font-size: 1.4rem;
		}
		.icon-text {
			font-size: 1.2rem;
		}
	}
	.sub-nav-wrapper {
		.events-heading {
			font-size: 1.5rem;
		}
	}
}

@media (min-width: 768px) {
	.event-wrapper {
		max-width: 45vw;
	}
}

@media (min-width: 992px) {
	.event-wrapper {
		max-width: 30vw;
	}
}

.main-container {
	padding: 0 5px;
}

.flex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.events-heading {
	font-size: 1.2rem;
	font-weight: 600;

	.events-amount {
		color: grey;
	}
}

.event {
	margin: 10px;

	&:focus, &:active {
		outline: none;
	}
	.event-wrapper {
		position: relative;
		height: 100%;
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		cursor: pointer;
		
		&:hover {
			transform: scale(1.02);
			transition-duration: 100ms;
		}
		&:active {
			transform: scale(0.99);
			transition-duration: 50ms;
		}
	}
}

.favorites-icon, 
.text-wrapper {
	z-index: 0;
	position: absolute;
}

.text-wrapper {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -30%);
	text-align: center;
	color: #F9F9F9;
	font-weight: 600;
	min-width: 70%;
	
	.event-name {
		font-size: 1.3rem;
	}
}

.event-image {
	width: 100%;
	min-height: 100%;
	filter: brightness(80%)
}

.sub-nav-wrapper {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 92vw;
	margin-bottom: -15px;

	.icon-wrapper {
		display: flex;
		align-items: center;

		.icon-link {
			padding: 5px;
			text-decoration: none;
			color: grey;

			&:hover {
				color: black;
				transition-duration: 500ms;
			}
		}
	};
}

.icon {
	padding: 5px;
	color: $mainThemeColor;
}

.icon-text {
	font-size: 0.8rem
}
