.container {
    display: flex;
    justify-content: center;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    margin-top: 15px;
    width: 250px;
    padding: 20px;
    background-color: #E5465D;
    color: white;
    border: 0px transparent solid;
    padding: 10px;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}