<ng-container *ngIf="event$ | async as event">
  <div class="contact">  
    <div class="contact__name">
      Contacts
    </div>
    <div class="clear"></div>
    <div class="contact-item">
      <div class="contact-item__type">organization</div>
      <div class="contact-item__value">{{event.organization}}</div>
      <div class="clear"></div>
    </div>
    <div class="contact-item">
      <div class="contact-item__type">manager</div>
      <div class="contact-item__value" [routerLink]="['/user-profile',event.manager.email]">{{event.manager.name}}</div>
      <div class="clear"></div>    
    </div>
    <div class="contact-item">
      <div class="contact-item__type">mobile</div>
      <div class="contact-item__value">{{event.contacts.phone}}</div>
      <div class="clear"></div>    
    </div>
    <div class="contact-item">
      <div class="contact-item__type">email</div>
      <div class="contact-item__value">{{event.contacts.email}}</div>
      <div class="clear"></div>
    </div>
    <div class="contact-item">
      <div class="contact-item__type">category</div>
      <div class="contact-item__value">{{event.category}}</div>
    </div>
    <div class="clear"></div>
  </div>
</ng-container>