<div class="wrapper">
    <header>
        <button (click)="goHome()">Skip</button>
    </header>
    <main>
        <img src="../../assets/img/user.png" alt="user" class="user">
        <app-login-form *ngIf = "showLogForm && !showForgotPassForm" [showForgotPassForm] = "showForgotPassForm" (forgotPassFormChanged)="onForgotPassFormChanging($event)"></app-login-form>
        <app-register-form *ngIf = "!showLogForm"></app-register-form>
        <app-forgot-pass-form *ngIf = "showForgotPassForm && showLogForm" [showForgotPassForm] = "showForgotPassForm" (forgotPassFormChanged)="onForgotPassFormChanging($event)"></app-forgot-pass-form>
        <div class="divider">
            <div class="line"></div>
            <span>or</span>
            <div class="line"></div>
        </div>
        <p (click)="auth.googleSignin()"><i class="fab fa-google"></i> Sign in with Google</p>
    </main>
    <app-login-footer *ngIf = "showLogForm" [showLogForm] = "showLogForm" (formChanged)="onFormChanging($event)"></app-login-footer>
    <app-register-footer *ngIf = "!showLogForm" [showLogForm] = "showLogForm" (formChanged)="onFormChanging($event)"></app-register-footer>
</div>
