<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<div class="navigation">
    <div class="navigation__item" [routerLink]="['./../home']"><i class="fas fa-angle-left"></i></div>
    <div class="navigation__name">Event</div>
    <div class="navigation__item"><i class="far fa-share-square"></i></div>
    <div class="navigation__item"><i class="fas fa-bell"></i></div>
</div>
<div class="header">
    <div class="header__star">
        <i class="fas fa-star"></i>
    </div >
    <div class="header__text-container">
        <h2 class="header__text-container__name">{{(event | async)?.name}}</h2>
        <div class="header__text-container__description">{{(event | async)?.date.day}} {{(event | async)?.date.month}} {{(event | async)?.date.year}}</div>
    </div>
</div>
<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->
