<div class="information">
  <h2>Contacts</h2>
  <hr />
  <div class="mobile">
    <span>mobile</span><br/>
    <span class="pink">{{information[0]}}</span>
  </div>
  <hr />
  <div class="email">
    <span>email</span><br/>
    <span class="pink">{{information[1]}}</span>
  </div>
  <hr />
  <div class="email">
    <span>city</span><br/>
    {{information[2]}}
  </div>
  <hr />
  <div class="email">
    <span>age</span><br/>
    {{information[3]}}
  </div>
  <hr />
  <div class="email">
    <span>member of</span><br/>
    <span class="pink">{{information[4]}}</span>
  </div>
  <hr />
  
  <h2>Skills</h2>
  <div>
    {{skills}}
  </div>
  
  <h2>About me</h2>
  <div>
    {{aboutMe}}
  </div>
  <button class="log-out">LOG OUT</button>
</div>

