<div class="information">
  <h2>Contacts</h2>
  <hr />
  <div class="mobile">
    <span>mobile</span><br/>
    <span class="pink">{{information[0]}}</span>
  </div>
  <hr />
  <div class="email">
    <span>email</span><br/>
    <span class="pink">{{information[1]}}</span>
  </div>
  <hr />
  <div class="email">
    <span>city</span><br/>
    {{information[2]}}
  </div>
  <hr />
  <div class="email">
    <span>age</span><br/>
    {{information[3]}}
  </div>
  <hr />
  <div class="email">
    <span>member of</span><br/>
    <span class="pink">{{information[4]}}</span>
  </div>
  <hr />
  <div>
    <span class="fa-stack fa-1x" style="vertical-align: bottom">
      <i style="color: #38A1F3" class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
    </span>
    <!-- <span style="color: #38A1F3"><i class="fab fa-twitter fa-2x"></i></span>  -->
    <span style="color: #3b5998"><i class="fab fa-facebook fa-2x"></i></span>
  </div>
  
  
  <h2>Skills</h2>
  <div>
    {{skills}}
  </div>
  
  <h2>About me</h2>
  <div>
    {{aboutMe}}
  </div>
  <button class="log-out">LOG OUT</button>
</div>

