<h2>Contacts</h2>
<hr />
<div class="mobile">
  <span>mobile</span><br/>
  {{information[0]}}
</div>
<hr />
<div class="email">
  <span>email</span><br/>
  {{information[1]}}
</div>
<hr />
<div class="email">
  <span>city</span><br/>
  {{information[2]}}
</div>
<hr />
<div class="email">
  <span>age</span><br/>
  {{information[3]}}
</div>
<hr />
<div class="email">
  <span>member of</span><br/>
  {{information[4]}}
</div>
<hr />

<h2>Skills</h2>
<div>
  {{skills}}
</div>

<h2>About me</h2>
<div>
  {{aboutMe}}
</div>
