.content-wrapper {
    padding: 20px 0;
    background-color: white;
<<<<<<< feature/user-profile
    margin-top: 60px;
    margin-bottom: 80px;
=======
    margin-top: 100px;
    margin-bottom: 60px;
>>>>>>> develop
}