$pageCol: #FF2055;
$txtCol: #FFFFFF;
$fontSize: 18px;
$fontSizeWeb: 14px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: $pageCol;
    width: 100%;
    min-height: 100vh;
    color: $txtCol;
    font-size: $fontSize;
    padding: 10% 5%;

    @media screen and (min-width: 600px) {
        padding: 2% 30%;
        font-size: $fontSizeWeb;
    }

    header {
        display: flex;
        flex-direction: column;
        min-height: 23vh;

        button {
            background-color: $pageCol;
            color: $txtCol;
            border: none;
            font-size: $fontSize;
            align-self: flex-end;

            @media screen and (min-width: 600px) {
                font-size: $fontSizeWeb;
            }

        }
        .user {
            margin: 60px;
            width: 100px;
            height: 100px;
            align-self: center;

            @media screen and (min-width: 600px) {
                margin: 40px;
            }
        }

    }
}