$pageCol: #FF2055;
$txtCol: #FFFFFF;
$fontSize: 18px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: $pageCol;
    width: 100vw;
    height: 100vh;
    color: $txtCol;
    font-size: $fontSize;
    padding: 10% 5%;

    header {
        display: flex;
        flex-direction: column;

        button {
            background-color: $pageCol;
            color: $txtCol;
            border: none;
            font-size: $fontSize;
            align-self: flex-end;
        }
        .user {
            margin: 60px;
            width: 100px;
            height: 100px;
            align-self: center;
        }

    }
}