<header class="user-profile">
  <div class="user-profile__header">
    <div class="user-profile__navigation">
      <div (click)="openModal('custom-modal-1')" class="edit">Edit</div>
      <div class="material-icons share">share</div>
      <div class="material-icons notification">notifications</div>
    </div>
    <br />
    <div class="user-profile__image">
      <img src="https://firebasestorage.googleapis.com/v0/b/fe-lab-11-team-lemon-project.appspot.com/o/IMG_20190425_202226_1.jpg?alt=media&token=3d59b241-abd8-41d7-8ece-9c8b0709d2cc" alt="photo" />
    </div>
    <div class="user-profile__fullName">
        <h2>{{fullName}}</h2>
    </div>
  </div>
<header>
<nav class="user-profile__links">
  <!-- <a (click)="showInformation()" [class.active]="">Information</a>
  <a (click)="showOrganization()" [class.active]=>Organization</a>
  <a (click)="showFeedback()" [class.active]>Feedback</a> -->
  <a [routerLink]="['information']"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Information</a>
  <a routerLink="organization" routerLinkActive="active">Organization</a>
  <a routerLink="feedback" routerLinkActive="active">Feedback</a>
</nav>
<router-outlet></router-outlet>

<jw-modal id="custom-modal-1">

  <div class="container-fluid">
    <h1>Edit information</h1>
  
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
  
    <form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate>
  
      {{userForm.form.valid}}
      <!-- {{ userForm.value | json}}
      <hr />
      {{ userModel | json}} -->
  
      <div class="form-group">
        <label>Name</label>
        <input type="text" required #name="ngModel" 
        [class.is-invalid]="name.invalid && name.touched"
        class="form-control" name="userName" [(ngModel)]="userModel.name">
        <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
      </div>

      <div class="form-group">
        <label>Mobile</label>
        <input type="tel" #mobile="ngModel" pattern="^\d{10}$" required
        [class.is-invalid]="mobile.invalid && mobile.touched" class="form-control" 
        name="mobile" [(ngModel)]="userModel.mobile">
        <!-- <small class="text-danger" [class.d-none]="mobile.valid || mobile.untouched">mobile number is required and must be 10 letters</small> -->
        <div *ngIf="mobile.errors && (mobile.invalid || mobile.touched)">
          <small class="text-danger" *ngIf="mobile.errors.required">Mobile number is required</small>
          <small class="text-danger" *ngIf="mobile.errors.pattern">Mobile number must be 10 digits</small>
        </div>
      </div>
    
      <div class="form-group">
        <label>Email</label>
        <input type="email" #email="ngModel"
        required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+(?:[A-Z]{2}|com|org|net|gov|mil|biz|info|mobi|name|aero|jobs|museum)\b"
        [class.is-invalid]="email.invalid && email.touched"
        class="form-control" name="email" [(ngModel)]="userModel.email">
        <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required or invalid</small> -->
        <div *ngIf="email.errors && (email.invalid || email.touched)">
          <small class="text-danger" *ngIf="email.errors.required">Email is required</small>
          <small class="text-danger" *ngIf="email.errors.pattern">Your email is invalid</small>
        </div>
      </div>
    
      <!--Select-->
      <!-- <div class="form-group">
        <select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)" 
          #topic="ngModel"
          [class.is-invalid]="topicHasError && topic.touched" name="" id="" class="custom-select" name="topic" [(ngModel)]="userModel.topic">
          <option value="default">I am interested in</option>
          <option *ngFor="let topic of topics">{{ topic }}</option>
        </select>
        <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">Please choose a topic</small>
      </div> -->
    
      <!--Radio Buttons-->
      <!-- <div class="mb-3">
        <label for="">Time preference</label>
        <div class="form-check">
          <input type="radio" [(ngModel)]="userModel.timePreference" class="form-check-input" name="timePreference" value="morning">
          <label for="" class="form-check-label">Morning (9AM - 12PM)</label>
        </div>
        <div class="form-check">
          <input type="radio" [(ngModel)]="userModel.timePreference" class="form-check-input" name="timePreference" value="evening">
          <label for="" class="form-check-label">Evening (5PM - 8PM)</label>
        </div>
      </div> -->
    
      <!--Checkbox-->
      <!-- <div class="form-check mb-3">
        <input type="checkbox" name="subscribe" [(ngModel)]="userModel.subscribe" class="form-check-input">
        <label class="form-check-label">
          Send me promotional offers
        </label>
      </div> -->
    
      <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit">Submit form</button>
    </form>
  
  </div>
</jw-modal>