<header class="user-profile">
  <div class="user-profile__header">
    <div class="user-profile__navigation">
      <div class="edit">Edit</div>
      <div class="material-icons share">share</div>
      <div class="material-icons notification">notifications</div>
    </div>
    <br />
    <div class="user-profile__image">
      <img src="https://firebasestorage.googleapis.com/v0/b/fe-lab-11-team-lemon-project.appspot.com/o/IMG_20190425_202226_1.jpg?alt=media&token=3d59b241-abd8-41d7-8ece-9c8b0709d2cc" alt="photo" />
    </div>
    <div class="user-profile__fullName">
        <h2>{{fullName}}</h2>
    </div>
  </div>
<header>
<nav class="user-profile__links">
  <!-- <a (click)="showInformation()" [class.active]="">Information</a>
  <a (click)="showOrganization()" [class.active]=>Organization</a>
  <a (click)="showFeedback()" [class.active]>Feedback</a> -->
  <a [routerLink]="['information']"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Information</a>
  <a routerLink="organization" routerLinkActive="active">Organization</a>
  <a routerLink="feedback" routerLinkActive="active">Feedback</a>
</nav>
<router-outlet></router-outlet>