<div class="header-container">
    <div class="links-wrapper">
        <a class="header-link" routerLinkActive="active-link" routerLink="events"><i class="material-icons">calendar_today</i><span>Events</span></a>
        <a class="header-link" routerLinkActive="active-link" routerLink="volunteers"><i class="material-icons">people</i><span>Volunteers</span></a>
        <a class="header-link" routerLinkActive="active-link" routerLink="organizations"><i class="material-icons">folder</i><span>Organizations</span></a>
        <a class="header-link" routerLinkActive="active-link" routerLink="adresses"><i class="material-icons">home</i><span>Adresses</span></a>
    </div>
</div>
