<div class="header-container">
    <div class="links-wrapper">
        <a class="header-link" routerLinkActive="active-link" routerLink="events"><i class="icon far fa-calendar fa-2x"></i><span>Events</span></a>
        <a class="header-link" routerLinkActive="active-link" routerLink="volunteers"><i class="icon fas fa-users fa-2x"></i><span>Volunteers</span></a>
        <a class="header-link" routerLinkActive="active-link" routerLink="organizations"><i class="icon fas fa-folder fa-2x"></i><span>Organizations</span></a>
        <a class="header-link" routerLinkActive="active-link" routerLink="adresses"><i class="icon fas fa-home fa-2x"></i><span>Adresses</span></a>
    </div>
</div>
