.header-container {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
    margin-top: 49px;
}

.links-wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    background-color: #F9F9F9;
    height: 50px;
}

.header-link {
    font-size: 0.8rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    color: darken(lightgrey, 20% );
    
    .icon {
        padding-bottom: 5px;
    }

    &:visited{
        color: darken(lightgrey, 20% );
    }
}

.links-wrapper{
    .active-link {
        color: darken(pink, 30% );
        border-bottom: 1px solid darken(pink, 30% );
    }
}
